@tailwind base;
@tailwind components;
@tailwind utilities;
.banner-section {
  /*height: 80%;*/
  /*align-items: center;*/
}
.ls-4 {
  letter-spacing: 1px;
}
.meta-text p {
  font-size: 18px;
  word-spacing: 1px;
  font-weight: 100;
  line-height: 35px !important;
}
.form-wrapper {
  z-index: 9999;
  position: relative;
  width: 533px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 31.5px;
  padding: 49px 41px 49px 41px;
  outline: solid 1px #82ccf9;
  outline-offset: -1px;
  border-radius: 15px;
  /*background-image: linear-gradient(226.1deg, #85a7fe4f 0%, #85a0fe00 100%);*/
  background-image: linear-gradient(191.1deg, #85a7fe4f 0%, #85a0fe00 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  box-shadow: 8px 0px 33px 0px #00000029, 4px 0px 19px 0px #4f5297ad;
}
form input[type="text"] {
  background: none;
  outline: solid 1px #82ccf9;
  outline-offset: -1px;
  border-radius: 7px;
  background-image: linear-gradient(
    180deg,
    #2a3067ff 0%,
    #2a3f6799 100%
  ) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: auto !important;
  padding: 12px !important;
}
input[type="text"]::placeholder {
  color: #bfdcff !important;
  font-size: 15px;
  font-weight: 100;
}
.head-text {
  font-size: 28px !important;
}
.email-label {
  color: #bfdcff !important;
  font-size: 13px !important;
}
.submit-email-btn {
  color: #bfdcff !important;
  background: #0395f0 !important;
}
.mobile-wrapper {
  width: min-content;
  height: min-content;
}
.mobile-img {
  position: relative;
  width: 354px;
  height: 701.4481px;
  align-items: flex-start;
  gap: 36.2045px;
  padding: 56.3182px 47.1233px 56.3182px 47.1234px;
  outline: solid 10.2238px #0692f0;
  border-radius: 43.0722px;
  background-image: linear-gradient(201.4deg, #85a7fe4f 0%, #85a0fe00 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  margin-top: 2%;
}
.mobile-notch {
  position: absolute;
  left: calc(50% - -0.5748px);
  top: 0.0002px;
  width: 145.9675px;
  height: 25.2857px;
  overflow: visible;
  transform: translateX(-50%);
}

.msg-5 {
  position: absolute;
  left: 6.5% !important;
  top: 74% !important;
  display: flex;
}
.msg-4 {
  position: absolute;
  left: 6.5% !important;
  top: 53% !important;
  display: flex;
}
.msg-1 {
  position: absolute;
  left: 6.5%;
  display: flex;
  top: 12%;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 5.7468px;
}
.msg-wrapper {
  width: 313.7727px;
  height: min-content;
  flex-direction: column;
  padding: 0 0 0.0115px;
}
.msg-wrapper-lvl-2 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 0.0115px;
}
.main-msg-class {
  height: min-content;
  align-self: stretch;
  padding: 11.4935px;
  outline: solid 1.1494px #5b73df33;
  outline-offset: -1px;
  border-radius: 17.2403px 17.2403px 17.2403px 0;
  background-image: linear-gradient(258.2deg, #85b5fe4f 0%, #85aefe00 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.after-shine {
  z-index: 0;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.another-wrapper {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.another-wrapper > div {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.another-wrapper p {
  font-size: 13.7922px;
  font-family: Roboto, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  flex-shrink: 1;
}
.another-wrapper p > span {
  color: #c4d1dc;
  font-size: 13.7922px;
  line-height: 23.5617px;
  font-family: Roboto, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.1839px;
}
.msg-3 {
  display: flex;
  position: absolute;
  left: 6.5%;
  top: 55%;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 5.7468px;
}
.msg-2 {
  display: flex;
  position: absolute;
  left: 56%;
  top: 38%;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-end;
  gap: 5.7468px;
}
.msg-2_1 {
  width: 127.5779px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0.0115px;
}
.msg-2_2 {
  width: 127.5779px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0.0115px;
}
.msg_3664 {
  width: 127.5779px;
  height: min-content;
  padding: 11.4935px;
  outline: solid 1.1494px #5b73df33;
  outline-offset: -1px;
  border-radius: 17.2403px 17.2403px 17.2403px 0;
  background-color: #0495f0;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.msg2_3674 {
  display: flex;
  z-index: 0;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.msg2_3680 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.msg2_3686 {
  width: 122px;
  height: min-content;
  text-align: end;
  align-items: end;
  flex-direction: column;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.msg2_3686 > p {
  font-size: 14px;
  font-family: Roboto, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  flex-shrink: 1;
}
.msg2_3686 > p > span {
  color: #c4d1dc;
  font-size: 14px;
  line-height: 17.5049px;
  font-family: Roboto, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.1366px;
}
.msg-time {
  margin-top: 3%;
  color: #c4d1dc !important;
  font-size: 12px;
}
.light-text {
  color: #bfdcff !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-18 {
  font-size: 18px !important;
}
.about-text-to-buy-text p {
  word-spacing: 3px;
}
.about-text-to-buy-text p:not(:nth-child(-n + 2)) {
  margin-top: 4px;
}
.about-text-to-buy-text p:nth-child(2) {
  margin-top: 10px;
}
.seamles-heading {
  align-self: center;
}
.icon-22 {
  font-size: 22px !important;
}
.seamless-icons {
  outline: solid 1.3857px #82ccf9;
  outline-offset: -1px;
  border-radius: 20.7862px;

  padding: 6% 9%;
  background-image: linear-gradient(222.5deg, #85a7fe4f 0%, #85a0fe00 100%);
  box-shadow: 11.086px 0px 45.7297px 0px #00000029,
    5.543px 0px 26.3292px 0px #4f5297ad;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  /*margin: auto;*/
}
.introduction-shine {
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 77% 50%,
    #ffffff 10%,
    transparent 70%
  ) !important;
  opacity: 0.6;
  position: absolute;
  content: "";
  top: 0%;
  left: 0%;
  /*border-radius: 50%;*/
  /*right: 90%;*/
}
.circle {
  width: 355px;
  background-image: linear-gradient(226.1deg, #85a7fe4f 100%, #85a0fe00 100%);
  position: relative;
  z-index: 20;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 355px;
  border-radius: 50%;
  /*animation: spin 10s linear infinite;*/
  transform-style: preserve-3d;
  transform: rotate(0deg);
  /* transition: transform 0.7s linear; */
  animation: rotateParent 12s linear infinite;
}
@keyframes rotateParent {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.icons {
  position: absolute;
  width: 115px;
  border-radius: 50%;
  height: 115px;
  outline: solid 1.3857px #82ccf9;
  outline-offset: -1px;
  background-image: linear-gradient(222.5deg, #85a7fe4f 0%, #85a0fe00 100%);
  box-shadow: 11.086px 0px 45.7297px 0px #00000029,
    5.543px 0px 26.3292px 0px #4f5297ad;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  z-index: 30;
  /*animation: backwardSpin 8s linear infinite;*/
  /*transform-style: preserve-3d;*/
  transform: rotate(0deg);
  /* transition: transform 0.7s linear; */
  /*top: -40px;   !* -child size/2 *!*/
  /*left: 110px;   !* parent size/2 - child size/2 *!*/
  animation: rotateChild 12s linear infinite;
}
@keyframes rotateChild {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes backwardSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.icons-bottom-left {
  left: 10%;
  bottom: -7% !important;
}
.icons-bottom-right {
  left: 80%;
  bottom: 19% !important;
}
.icons-top-right {
  left: 55%;
  top: -10% !important;
}
.icons-top-left {
  top: 13% !important;
  left: -9%;
}
.seamless-meta-text p {
  word-spacing: 2px;
  font-size: 19px;
  font-weight: 100;
}
.up {
  outline: solid 1.2428px #5b73df33;
  outline-offset: -1px;
  border-radius: 4.9713px;
  background-image: linear-gradient(217.4deg, #85a7fe4f 0%, #85a0fe00 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  width: min-content;
  height: min-content;
  display: flex;
  justify-content: center;
  /*align-self: center;*/
  padding: 13px;
}
.arrow-wrapper {
  z-index: 0;
  width: 17.3996px;
  height: 18.6424px;
}
.senderly-logo-small {
  width: 50px;
  height: 50px;
}
.building-insights-image {
  outline: solid 1.2428px #82ccf9;
  outline-offset: -1px;
  border-radius: 18.6424px;
  background-image: linear-gradient(216deg, #85a7fe4f 0%, #85a0fe00 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 2%;
}
.insights-list-text p:not(:first-child) {
  word-spacing: 2px;
}
.btn-class {
  width: 152.8676px;
  height: 37.2848px;

  padding: 2px 29px;
  outline: solid 1.5px #5b73df33;
  outline-offset: -1px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.btn-wrapper {
  z-index: 0;
  height: 22px;
  flex: 1;
  align-items: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.insights-item {
  padding: 13px;
  outline: solid 2px #82ccf987;
  outline-offset: -1px;
  border-radius: 7px;
  background-image: linear-gradient(261.7deg, #85b5fe4f 0%, #85aefe00 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.back-content {
  background-image: linear-gradient(261.7deg, #85b5fe4f 0%, #85aefe00 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  top: 0;
  bottom: 0;
}
.seamless-heading-mobile {
  display: none;
}
.senderly-better-mobile {
  display: none;
}
.message-wrapper p {
  font-size: 14px;
  text-align: left;
  opacity: 0.7;
  word-spacing: 1px;
}
.head-wrapper {
  width: 600px;
}
.head-wrapper p {
  line-height: 62px;
}
@media screen and (max-width: 476px) {
  .form-meta-info > p {
    min-width: 100% !important;
  }
  #main-area {
    padding: 0.75rem !important;
  }
  .banner-section,
  .buying-process,
  .seamless,
  .building-insights {
    padding: 0.2rem !important;
  }
  .circle {
    width: 330px;
    height: 330px;
    margin: auto;
  }

  .icons-bottom-right {
    left: 77% !important;
    bottom: 19% !important;
  }
  .senderly-better-mobile {
    margin-top: 6%;
  }
  .senderly-better-mobile img {
    margin-top: -22.5%;
  }
  .introduction-md p {
    width: 90% !important;
  }
}
@media screen and (max-width: 768px) {
  /*.ai-power-image-mobile{*/
  /*  display: inherit;*/
  /*}*/
  /*.ai-power-image{*/
  /*  display: none;*/
  /*}*/
  .seamless-icons {
    width: 80%;
  }
  .building-insights-image {
    width: 80% !important;
    margin: auto;
  }
  #main-area {
    padding: 0.75rem;
  }
  .introduction-md p {
    min-width: 80%;
  }
  .text-to-buy-main {
    min-width: 100% !important;
    text-align: justify !important;
    align-self: center;
  }
  .form-meta-info > p {
    width: 60% !important;
  }
  .icons {
    width: 90px !important;
    height: 90px !important;
  }
}
@media screen and (max-width: 987px) {
  .form-meta-info {
    display: flex;
    justify-content: center;
  }
  .form-meta-info > p {
    width: 60%;
  }
  .about-lists-wrapper {
    align-self: center;
  }
  nav {
    display: flex;
    justify-content: center;
    padding-left: 0 !important;
  }
  .message-wrapper p {
    font-size: 14px !important;
    text-align: left;
    opacity: 0.7;
    word-spacing: 1px;
  }
  .buying-process-head {
    font-size: 1.875rem !important;
  }
  .head-text {
    font-size: 22px !important;
  }
  form {
    margin-top: 1rem;
  }
  .senderly-better {
    display: none;
  }
  .senderly-better-mobile {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }
  .senderly-better-mobile img {
    margin-top: -20%;
  }
  .building-insights {
    padding: 1rem;
    margin-top: 6%;
    justify-content: center;
  }
  .ai-power {
    padding: 1rem;
    margin-top: 6%;
  }
  .banner-section {
    display: flex !important;
    flex-direction: column !important;
  }

  .form-section {
    margin: auto;
  }
  .form-wrapper {
    width: auto;
  }
  .buying-process {
    width: auto;
    flex-direction: column-reverse;
    margin: auto;
    padding: 1rem;
    margin-top: 6%;
  }
  .mobile-wrapper {
    margin: auto;
  }
  .text-to-buy {
    padding: 1%;
  }
  .about-text-to-buy-text p:first-child {
    text-align: center;
  }
  .about-text-to-buy-text p:not(:first-child) {
    line-height: 22px;
    text-align: center;
    /*margin-top: 8px;;*/
  }
  .mobile-wrapper {
    margin-top: 6%;
  }
  .text-to-buy {
    margin-top: 1%;
  }
  .percent-1 {
    width: auto;
  }
  .percentages {
    /*margin: auto;*/
    justify-content: space-around;
    margin-top: 6%;
  }
  .seamless {
    margin-top: 12%;
    padding: 1rem;
  }
  .seamless-heading {
    display: none;
  }
  .seamless-heading-mobile {
    display: flex;
    flex-direction: column;
  }
  .seamless-heading-mobile p {
    font-size: 1.875rem;
    text-align: center;
    word-spacing: 2px;
    line-height: 38px;
  }
  .seamless-meta-text p {
    font-size: 20px;
    text-align: center;
    line-height: 28px;
  }
  .seamless-wrapper {
    flex-direction: column;
  }
  .seamless-icons {
    margin: auto !important;
    margin-top: 6% !important;
    width: auto;
    padding-top: 8%;
    padding-bottom: 8%;
  }
  .icons {
    width: 100px;
    height: 100px;
  }
  .circle {
    /*width: 330px;*/
    /*height: 330px;*/
    margin: auto;
  }
  .icons-bottom-left {
    left: 10%;
    bottom: -2% !important;
  }
  .icons-bottom-right {
    left: 83%;
    bottom: 19% !important;
  }
  .icons-top-right {
    left: 55%;
    top: -5% !important;
  }
  .icons-top-left {
    top: 13% !important;
    left: -4%;
  }
  .introduction-md {
    justify-content: center;
    align-items: center;
  }
  .introduction-md p {
    width: 50%;
  }
  .meta-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .seamless-icons {
    width: auto !important;
  }
  .building-insights-image {
    min-width: 100% !important;
    margin: auto;
  }
  .icons {
    width: 80px !important;
    height: 80px !important;
  }
  .form-meta-info > p {
    min-width: 80%;
  }
  .percentages {
    flex: 1;
  }
  .text-to-buy-main {
    text-align: justify;
  }
  .meta-text p {
    font-size: 16px;
  }
  .e-mail-form {
    width: 100%;
    padding: 1rem;
  }
  .introduction-md p {
    min-width: 80% !important;
  }
}
.arrow-up {
  transform: scale(0);
  transform-origin: bottom;
}
.arrow-up-animation {
  animation: arrowUp 1s linear forwards;
}
@keyframes arrowUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.introduction p:first-child {
  line-height: 56px;
}
@media screen and (min-width: 1900px) {
  .introduction p:first-child {
    width: 70% !important;
  }
  .text-to-buy-main{
    width: 60%;
  }
  .seamless-meta-text{
    justify-content: flex-start !important;
  }
}
@media screen and (max-width: 1900px) {
  .introduction p:first-child {
    width: 80% !important;
  }
  .text-to-buy-main {
    width: 70% !important;
  }
  .seamless-meta-text{
    justify-content: flex-start !important;
  }
}
@media screen and (max-width: 1700px) {
  .introduction p:first-child {
    width: 85% !important;
  }
}
@media screen and (max-width: 1600px) {
  .introduction p:first-child {
    width: 90% !important;
  }
}
@media screen and (max-width: 1500px) {
  .introduction p:first-child {
    width: 90% !important;
  }
}
@media screen and (max-width: 1308px) {
  .text-to-buy-main {
    width: 90% !important;
  }
  .introduction p:first-child {
    width: 95% !important;
  }
  .introduction p:first-child {
    font-size: 46px;
  }
  .meta-text p {
    font-size: 22px !important;
  }
}
@media screen and (max-width: 1200px) {
  .introduction p:first-child {
    font-size: 40px;
  }
  .meta-text p {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 1076px) {
  .introduction p:first-child {
    font-size: 34px;
  }
  .meta-text p {
    font-size: 17px !important;
  }
}
@media screen and (max-width: 1000px) {
  .introduction p:first-child {
    font-size: 32px;
  }
  .meta-text p {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 987px) {
  .seamless-m{
    justify-content: center !important;
  }
  .ai-power {
    flex-direction: column;
  }
  .ai-power-image {
    margin: 2rem auto 0 !important;
  }

  .building-insights-image {
    width: 60%;
    margin: auto;
  }
  .building-insights {
    flex-direction: column-reverse;
  }
  .introduction-md {
    display: flex !important;
  }
  .seamless-meta-text p {
    text-align: justify !important;
  }
  .percentages {
    justify-content: space-evenly;
  }
  .percentage-2,
  .percent-1 {
    margin: 1px !important;
  }
  .introduction p:first-child {
    font-size: 38px;
  }
  .meta-text p {
    font-size: 18px !important;
  }
  .introduction {
    display: none;
  }
  .text-to-buy-main {
    width: 70% !important;
    text-align: justify;
    align-self: center;
  }
}
/*@media screen and (min-width: 1200px) and (max-width: 1260px) {*/
/*  .head-wrapper {*/
/*    width: calc(50vw - 30px) !important;*/
/*  }*/
/*}*/
/*  @media screen and (max-width: 1200px) {*/
/*    .head-wrapper{*/
/*      width: calc(50vw - 0px) !important;*/
/*    }*/
/*    .head-wrapper p{*/
/*      font-size: calc(4vw - 1px);*/
/*    }*/
/*}*/
.introduction {
  flex: 1;
}
.e-mail-form {
  flex: 1;
  justify-content: center !important;
  align-items: center;
}
.text-to-buy-main {
  line-height: 32px;
}
.percentage-2 {
  margin: auto;
}
.introduction-md {
  display: none;
}
/*.ai-power-image-mobile{*/
/*  display: none;*/
/*}*/
.building-insights-image,
.seamless-head {
  flex: 1;
}
.seamless-head {
  padding: 1rem;
  align-self: center;
}
.seamless-meta-text {
  justify-content: center;
  align-self: center;
  display: flex;
}
